<%= form_with model: therapy, local: true do |f|%>
  <div class="field">
    <%= f.label :title, "治療の名称" %><br />
    <%= f.text_field :title, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :text, "治療内容" %><br />
    <%= f.text_area :text, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
  <%= f.label :category, "カテゴリー" %><br />
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"prototype_concept"}) %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, id:"prototype_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>