<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @therapy.title%>
      </p>
      <%= link_to "by #{@therapy.user.nickname}", user_path(@therapy.user), class: :prototype__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
         <% if user_signed_in? && current_user.id == @therapy.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_therapy_path(@therapy.id), class: :prototype__btn %>
          <%= link_to "削除する", therapy_path(@therapy.id), class: :prototype__btn, method: :delete  %>
        </div>
        <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @therapy.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">治療内容</p>
          <p class="detail__message">
            <%= @therapy.text %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">カテゴリー</p>
          <p class="detail__message_under">
            <%= @therapy.category.name %>
          </p>
        </div>
      </div>

<div id="comments">
  <h4>＜コメント一覧＞</h4>
    <% @therapy.comments.each do |comment| %>
      <div class="comment">
        <p class="user-info"><%= link_to comment.user.nickname, user_path(comment.user), class: :comment_user %>： </p>
        <p><%= comment.text%></p>
      </div>
    <% end %>
</div>

      <div class="comment-form">
  <% if user_signed_in? %>
    <%= form_with model: [@therapy, @comment], id: "comment-form" do |f| %>
      <%= f.text_area :text , autofocus: true, class: "comment-text"%>
      <%= f.submit "コメントをする", class: "comment-submit" %>
    <% end %>
  <% end %>
</div>

    </div>
  </div>
</main>
